
body {
    margin: 0;
    background: linear-gradient(0deg, rgb(56, 68, 94), rgb(73, 97, 124), rgb(67, 78, 108), rgb(55, 63, 85));
    display: flex;
    flex-direction: column;
    max-width: 2180px;
    min-width: 480px;
}
/* main architecture */

/* static display */
.display1{
    background-image: url('img/bg1.png');
    background-size: 100%  100%;
    /* ???? */
    background-attachment: fixed; 
     /* ???? */
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 99vh;
    display: flex;
    flex-direction: column;   
}
/* end static display */

/*  header area */
header {
    max-width: 2180px;
    min-width: 420px;
    z-index: 1000;
    /* position: sticky;
    top: 0%; */
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: 1fr;
    height: 70px;
    max-width: 1600px;
    min-width: 320px;
}
header .rate {
    grid-column-start: 2;
    margin-left: 0%;
    display: flex;

}
header .sign {
    grid-column-start: 4;
    display: flex;
    margin-left: -50px;

}
.rate .btc {
    margin: auto 10%;
    color:white;
    font-size: 20px;
    display: flex;
    white-space: nowrap;
}
.rate .perc {
    color: red;
    margin: auto 0;
    padding: 0px 8px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
}
.sign a {
    color: white;
    margin: auto 2%;
    text-decoration: none;
    font-size: 13px;
    padding: 1% 5%;
    border: 2px solid transparent;
    transition: all 0.5s;
    white-space: nowrap;
    text-transform: uppercase;
}
.sign a:hover {
    padding: 1% 5%;
    border: 2px solid white;
    border-radius: 19px;
}
/* end header area */

/* main content style */
main {
    display: flex;
    flex-direction: column;
}

/* section 1 style */
.section1 {
    box-sizing: border-box;
    color: white;
    max-width: 1600px;
    min-width: 420px;
    position: relative;
    top: 20%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.section1 h1 {
    font-size: 50px;
    text-transform:uppercase;
}
.section1 h3 {
    width: 62%;
    text-align: center;
}
#but1_1 {
    margin-top: 3%;
    padding: 2% 6%;
    font-size: 30px;
    border-radius: 40px;
}

/* line styling */
.line {
    height: 7px;
    background: linear-gradient(90deg, rgb(163, 205, 140), rgb(125, 163, 215));
}
/* line styling */

/* end section 1 style */

/* section2 style */
.section2 {
    max-width: 1600px;
    min-width: 420px;
    padding: 10% 0%;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid rgb(79, 100, 125);
}
.section2 .text {
    margin-left: 5%; 
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
}
.section2 .text h2 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}
.section2 .text h3 {
    width: 75%;
    font-size: 20px;
    color: rgb(149, 154, 165);
}
#but2_1 {
    align-self: flex-start;
    margin-top: 2%;
}
.section2 .image {
    grid-column-start: 2;
    margin-right: 5%;   
}

/* end  section 2 styling */

/* section3  styling */
.section3 {
    max-width: 1600px;
    min-width: 420px;
    display: flex;
    padding: 5% 5%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgb(79, 100, 125);
}
.section3 .item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.section3 .item img {
    margin-bottom: 5%;
}
.section3 .item h2 {
    color: white;
    font-size: 25px;
}
.section3 .item p {
    width: 80%;
    text-align: center;
    color: rgb(157, 161, 166);
}

/* end section3 styling */
.section4 {
    max-width: 1600px;
    min-width: 420px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid rgb(79, 100, 125);
    padding: 10% 0%;
}
.section4 .text {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    max-width: 50%;
    box-sizing: border-box;
}
.section4 .text h2 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}
.section4 .text p {
    width: 75%;
    font-size: 20px;
    color: rgb(149, 154, 165);
}
#but2_2 {
    align-self: flex-start;
    margin-top: 5%;
}
.section4 .image {
 max-width: 50%;
 margin-left: 5%;
}

/* end section4 styling */

/* section5 style */
.section5 {
    max-width: 1600px;
    min-width: 420px;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid rgb(79, 100, 125);
}
.section5 .text {
    margin-left: 5%;
    margin-top: -5%;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
}
.section5 .text h2 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}
.section5 .text p {
    width: 75%;
    font-size: 20px;
    color: rgb(149, 154, 165);
}
#but2_3 {
    align-self: flex-start;
    margin-top: 2%;
}
.section5 .image {
    grid-column-start: 2;
    margin-right: 5%;
    margin-bottom: 10%;
}

/* end section5 styling */

/* section6 styling */

.section6 {
    max-width: 1600px;
    min-width: 420px;
    display: flex;
    justify-content: space-around;
    padding: 8% 0%;
}
.section6 .transactions h2 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}
.section6 table {
    color: white;
    border: 2px solid rgb(74, 82, 104);
    border-collapse: collapse;
    width: 200px;
}
.section6 tr {
    border: 2px solid rgb(74, 82, 104);
}
.section6 td {
    color: white;
    border: 2px solid rgb(74, 82, 104);
    padding:10px;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;  
}
.section6 .code {
    box-sizing: border-box;
    display: table-cell;
    text-overflow: ellipsis;
    max-width: 35ch !important;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(109, 151, 209);
}
.section6 .time {
    white-space: nowrap;
    color: rgb(157, 162, 169);
}
.section6 .amount {
    white-space: nowrap;
    color: rgb(97, 184, 133);
}
.section6 .transactions {
    box-sizing: border-box;
}
.section6 .news {
    box-sizing: border-box;
}
.section6 .news {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
}
.section6 .news .content{
    margin-top: -3%;
}
.section6 .news>h2 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}
.section6 .news .content h2 {
    font-size: 20px;
    color: white;
}
.section6 .news .date {
    font-size: 15px;
    color: rgb(148, 159, 173);
}

/* end  section6 styling */

/* section 7  styling */
.section7 {
    z-index: 1;
    max-width: 1600px;
    min-width: 420px;
    background: url('img/bg2.png');
    background-size: 100%;
    height: 500px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: visible;
   
}
.section7 .image img {
    width: 100%;
}
.section7 .form {
    box-sizing: border-box;
    top: 15%;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 520px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.section7 .form h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(74,74,74);
}
.section7 .form .field {
    font-size: 25px;
    margin-top: 5%;
    width: 100%;
    background-color: rgb(244, 247, 251);
    border: none;
}
#text {
    height: 100px;
}
.section7 .form .inp_d {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section7 .form .texture {
    width: 100%;
    background: url('img/ribbon.png') repeat-x;
}
.section7 #submit {
    margin-top: 5%;
    height: 50px;
    width: 100%;
    background-color: rgb(125, 163, 215);
    color: white;
    border: 2px solid transparent;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 2px;
}
/* end section  7 styling   */

/* section 8  styling */
.section8 {
    max-width: 1600px;
    min-width: 420px;
    margin-top: 10%;
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(79, 100, 125);
}
.section8 .content {
    width: 31%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.section8 h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
#but1_2 {
    width: 70%;
    margin-top: 3%;
    padding: 3% 4%;
    font-size: 25px;
    border-radius: 40px;
    text-align: center;
}

/* end  section 8  styling  */

/* footer  styling  */
footer {
    max-width: 1600px;
    min-width: 420px;
    height: 70px;
    display: grid;
    grid-template-columns: 5% 30% 50% 10% 5%;
    grid-template-rows: 50px;
}
footer .left {
    margin-top: 6%;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: space-around;
}
footer .left a {
    color: white;
    font-size: 20px;
    padding: 3px 10px;
    text-transform: uppercase;
    text-decoration: none;
}
footer .right {
    margin-top: 15%;
    grid-column-start: 4;
    grid-row-start: 1;
    font-size: 20px;
    color: white;
    white-space: nowrap;
    text-transform: uppercase;
}
/* end  footer  styling */

/* buttons */
.buttons:hover {
    opacity: 1;
    filter: brightness(70%);
    transition: all 0.5s;
}
.type2::after{
    content: url('img/arrow.svg');
    position: absolute;
    transform: translate(10px,5px) scale(1.5);
}
.type1 {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: rgb(163, 205, 140);
    /* border-radius: 20px; */
    /* padding: 2% 6%;    padding proportion 1:3 */
    white-space: nowrap;
}
.type2 {
    text-decoration: none;
    border: 3px solid rgb(163, 205, 140);
    color: rgb(163, 205, 140);
    padding: 3% 5%;
    font-size: 20px;
    border-radius: 35px;
    white-space: nowrap;
}